<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
	    <setting name="cacheEnabled" value="true"/>
    </settings>

	<typeAliases>
        <typeAlias type="com.sannong.domain.user.User" alias="User" />
    	<typeAlias type="com.sannong.domain.project.ApplicationEntity" alias="ApplicationEntity" />
        <typeAlias type="com.sannong.domain.project.Questionnaire" alias="Questionnaire" />
        <typeAlias type="com.sannong.domain.project.Question" alias="Question" />
        <typeAlias type="com.sannong.domain.sms.SMS" alias="SMS" />
        <typeAlias type="com.sannong.domain.region.Province" alias="Province" />
        <typeAlias type="com.sannong.domain.region.City" alias="City" />
        <typeAlias type="com.sannong.domain.region.District" alias="District" />
    </typeAliases>
    
    <mappers>
    	<mapper resource="com/sannong/infrastructure/persistence/repositories/mybatis/user.map.xml"/>
    	<mapper resource="com/sannong/infrastructure/persistence/repositories/mybatis/application.map.xml"/>
    	<mapper resource="com/sannong/infrastructure/persistence/repositories/mybatis/sms.map.xml"/>
        <mapper resource="com/sannong/infrastructure/persistence/repositories/mybatis/region.map.xml"/>
    </mappers>
</configuration>